@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

.nav {
  position: absolute;
  z-index: -10;
  top: -40px;
  height: 60vh;
  width: 100%;
}

.comtainer-input {
  position: absolute;
  z-index: 20;
}

.title {
  font-family: "Rubik";
  text-align: center;
  color: white;
}

.input {
  width: 60%;
  height: 8vh;
  border-radius: 8% 0% 0% 8%;
  padding: 20px;
  border: none;
  margin-left: 18%;
  margin-bottom: 10%;
  margin-right: 0px;
}

.adrs {
  text-align: center;
  margin-bottom: 10px;
  opacity: 0.5;
}

.adrs-info {
  text-align: center;
  margin-bottom: 10px;
}

.location {
  text-align: center;
  opacity: 0.5;
  margin-bottom: 10px;
}

.location-info {
  text-align: center;
  margin-bottom: 10px;
}

.time-zone {
  text-align: center;
  margin-bottom: 10px;
  opacity: 0.5;
}

.time-zone-info {
  text-align: center;
  margin-bottom: 10px;
}

.isp {
  text-align: center;
  margin-bottom: 10px;
  opacity: 0.5;
}

.isp-info {
  text-align: center;
}

.button-start {
  width: 9%;
  border: none;
  height: 8vh;
  position: relative;
  left: -15px;
  background-color: black;
  color: white;
  border-radius: 8% 15% 15% 0%;
}

.req-container-info {
  background-color: white;
  position: relative;
  height: 50vh;
  top: -10px;
  box-shadow: 0px 0px 10px black;
  padding: 4%;
  border-radius: 8px;
  margin: 10%;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .input {
    font-size: 20pt;
  }

  .button-start {
    font-size: 20pt;
  }

  .isp,
  .time-zone,
  .location,
  .adrs {
    font-size: 19pt;
  }

  .isp-info,
  .time-zone-info,
  .location-info,
  .adrs-info {
    font-size: 25pt;
  }

  .req-container-info {
    width: 80%;
    padding-top: 7%;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .input {
    border-radius: 5% 0% 0% 5%;
    width: 30%;
    margin-left: 33%;
  }

  .button-start {
    width: 7%;
    left: -17px;
    background-color: black;
    color: white;
    border-radius: 8% 15% 15% 0%;
  }

  .req-container-info {
    position: absolute;
    top: 150px;
    width: 80%;
    height: 20%;
    margin-bottom: 40%;
  }

  .isp,
  .time-zone,
  .location,
  .adrs {
    font-size: 19pt;
    position: absolute;
  }

  .isp-info,
  .time-zone-info,
  .location-info,
  .adrs-info {
    font-size: 25pt;
  }

  .adrs {
    font-size: 15pt;
    position: absolute;
    top: 4px;
  }

  .adrs-info {
    position: absolute;
    top: 30px;
    left: 1%;
  }

  .location {
    font-size: 15pt;
    position: absolute;
    top: 4px;
    margin-left: 25%;
  }
  .location-info {
    position: absolute;
    margin-left: 270px;
    top: 21%;
  }

  .time-zone {
    font-size: 15pt;
    position: absolute;
    top: 4px;
    margin-left: 480px;
  }

  .time-zone-info {
    position: absolute;
    margin-left: 480px;
    top: 21%;
  }

  .isp {
    font-size: 15pt;
    position: absolute;
    top: 4px;
    margin-left: 730px;
  }

  .isp-info {
    position: absolute;
    margin-left: 690px;
    top: 21%;
  }
}

.by {
  margin-left: 10px;
  margin-top: 20%;
}
